In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('responses.csv', delimiter = ",") # read in the data and print it
df # Note that the first line of the csv-file is interpreted as variable names (which fits in this case!).

,Unnamed: 0,type,exp,cor,diff,hour,sec,min,minSekRaw
0,1,Latin,"Yes, No","Yes, No",5.0,17,68.0,3,"(3,68)"
1,2,Greek,Yes,No,10.0,17,4.0,6,"(6,4)"
2,3,Latin,No,Yes,5.0,20,54.0,9,"(9,54)"
3,4,Greek,Yes,Yes,3.0,20,11.0,4,"(4,11)"
4,5,Latin,Yes,Yes,1.0,20,5.0,8,"(8,5)"
5,6,Greek,Yes,Yes,3.0,20,NaN,NaN,NaN
6,7,Latin,Yes,No,10.0,20,NaN,NaN,NaN
7,8,Greek,No,No,7.0,20,9.0,8,"(8,9)"
8,9,Latin,Yes,Yes,10.0,20,NaN,NaN,NaN
9,10,Latin,Yes,Yes,6.0,20,NaN,idn’t do the sudoku but the instructions seem ...,Didn’t do the sudoku but the instructions seem...
10,11,Latin,Yes,Yes,1.0,11,NaN,.,3.5
11,12,Latin,Yes,Yes,1.0,11,NaN,our minute,four minutes
12,13,Greek,Yes,Yes,1.0,11,NaN,NaN,"5,0"
13,14,Greek,Yes,Yes,3.0,12,NaN,em minutes and eleven second,tem minutes and eleven seconds
14,15,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN
15,16,Greek,Yes,Yes,7.0,21,1.0,NaN,"4,15"
16,17,Greek,No,Yes,3.0,0,NaN,NaN,10

In [3]:
df.dtypes

Unnamed: 0      int64
type           object
exp            object
cor            object
diff          float64
hour            int64
sec           float64
min            object
minSekRaw      object
dtype: object

In [8]:
email_df = pd.read_csv('SMSSpamCollection.txt', delimiter='\t', names=['s', 't'])
email_df['len'] = email_df['t'].len()
email_df.head(50)

AttributeError: 'Series' object has no attribute 'len'